body {
  font-family: 'Georgia', serif;
}

p {
  padding: 1px;
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 18px;
}

.column {
  margin: auto;
  width: 100%;
}

button {
  font-family: 'courier', sans-serif;
  border: 1px solid;
  border-radius: 15px;
  width: 96%;
  margin: 6px 2%;
}

.toggle-button {
  color: rgb(100, 100, 100);
  background-color: #f5f5f5;
  font-size: 22px;
  border-color: white;
  padding: 15px 5px;
  cursor: pointer;
  user-select: none;
  /* transition: background-color 0.1s; */
}

.toggle-button.active {
  background-color: #67bd6a;
  color: white;
}

.press-button {
  padding: 35px 20px;
  background-color: #97a5c2;
  border-color: white;
  font-size: 32px;
  color: white;
}
